<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/users/reg-new-user">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers/create-offer">Add Offer</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/brands">All Brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers">All Offers</a>
            </li>
        </ul>
    </div>
</nav>